    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>12456</td>
      <td>Mark</td>
      <td>021.012.458-00</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>78944</td>
      <td>Jacob</td>
      <td>120.458.124-23</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="1">45896</td>
      <td colspan="2">Larry</td>
      <td colspan="3">789.256.021-82</td>
    </tr>
  </tbody>
</table>

@{
}
