<table class="table">
    <thead>
        <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1234</td>
            <td>Mark</td>
            <td>123.455.005-00</td>
        </tr>
        <tr>
            <td scope="row">4321</td>
            <td>Jacob</td>
            <td>155.154.567-33</td>
        </tr>
        <tr>
            <td scope="row">2586</td>
            <td>Jonas</td>
            <td>155.154.567-33</td>
        </tr>
    </tbody>
</table>
